.keypad-container {
  /* background-color: cadetblue; */
  width: 90%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keys {
  display: flex;
  flex-flow: row wrap;
}

.key-container {
  
  /* flex-grow: 1; */
  height: 90px;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.key {
  width: 90%;
  height: 90%;
  background-color: #111;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  cursor: pointer;
  animation-duration: .05s;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }

}

.bounceIn {
  animation-timing-function: ease-out;
  animation-name: bounceIn;
}